h1
{
	text-align:center;
}

#create_name
{
	text-align:center;
}

#textfield label
{
	display:block;
	clear:right;
}

#save
{
	margin-left:150px;
	clear:right;
}´

#list
{
border-style:solid;
border-width:1px;
margin-right:800px;
}

#option
{
	margin-bottom:30px;
	
}
